version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: farm2kitchen_postgres
    environment:
      POSTGRES_USER: farmuser
      POSTGRES_PASSWORD: farmpass
      POSTGRES_DB: farm2kitchen
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  mongo:
    image: mongo:7
    container_name: farm2kitchen_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

volumes:
  pgdata:
  mongodata:
